/* LISTA DE PRODUTOS */

.products-list{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.products-list h2{
    margin-top: 5px;
    font-size: 0.725rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.products-list a{
    display: grid;
}

@media (max-width: 800px){
    .products-list{
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 20px;
    }
}

.product-info{
    grid-area:1/1;
}

.product-overlay{
    grid-area: 1/1;
    background: rgba(255,255,255, .5);
    display:flex;
    padding:20px;
    opacity: 0;
    transition: opacity .3s;
}
.product-item a:hover .product-overlay{
    opacity: 1;
}

.product-overlay .btn-link {
    margin: auto;
    width:100%;
}

/* BREADCRUMB */

.breadcrumb{
    margin: 20px auto!important;
    font-size: 0.875rem!important;
    font-weight: 500!important;
    letter-spacing: 0.05rem!important;
}
.woocommerce-breadcrumb{
    padding-bottom: 20px!important;
    border-bottom: 2px solid #000;
}

/* ARQUIVO DE PRODUTOS */

.products-archive{
    display:grid;
    grid-template-columns: 220px 1fr;
}

@media (max-width:800px){
    .products-archive{
        grid-template-columns: 1fr;
    }
}

/* PAGINAÇÃO */

.pagination{
    margin-top:40px;
}

.pagination .page-numbers{
    border-radius:2px;
    background-color: #000;
    color:#FFF;
    padding:4px 10px;
}

.pagination span.page-numbers{
    background-color: orangered;
}

.pagination .next,
.pagination .prev{
    background-color: #FFF;
    color:#000;
}

/* FILTROS */

.filtro,
.filtro .widget{
    margin-bottom:40px;
}

.filtro-titulo,
.filtro .widget h2{
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin-bottom: 20px;
}

.filtro-preco input{
    font-size: 1rem;
    width: 80px;
    border:none;
    background-color: rgba(0, 0, 0, .1);
    padding: 5px;
}

.filtro-preco label{
    width: 60px;
    display:inline-block;
    margin-bottom: 10px;
}

.filtro-preco button{
    font-size: 1rem;
    width: 144px;
    height: 36px;
    border:none;
    background-color: rgba(0, 0, 0, .2);
    padding: 4px;
    cursor:pointer;
}

@media (max-width: 800px){
    .filtro{
        margin-top: 40px;
        grid-row: 2;
    }
}
